<div class="row space-top-2x">
    {% for b in bouquets %}
    <div class="col-md-4">
        
        <div class="card">
            <a href="{% url 'view-bouquet' b.slug_name b.id %}" target="_blank">
            <img class="card-img-top" src="{{ b.images.0 }}" alt="Card image cap">
            <div class="card-block text-center">
                <b class="sub-title">{{ b.name|upper }}</b>
                </br>
                <small>BY {{ b.cli.bname|upper }}</small></br>
                <span class="price-text">$ {{ b.price }}</span>
            </br>
            <p class="sub-title"><span class="badge badge-primary">UPSIZE OPTION: ${{b.upsize_diff}}</span></p>
            </div>
            </a>
        </div>
    </div>
    {% endfor %}
</div>