{% extends "base.html" %}
{% load staticfiles %}
{% load i18n widget_tweaks %}
{% block head_title %}{% trans "Change Password" %}{% endblock %}

{% block cont-css %}home-cont{% endblock cont-css %}

{% block content %}
<div class="row">
    <div class="col-md-6 col-md-offset-3">
        <div class="row">
          <div class="col-md-12">
            <h4 style="color: white;">Consent Management</h4>
          </div>
        </div>
        <div class="portlet light">
            <h1>{% if token_fail %}{% trans "Bad Token" %}{% else %}{% trans "Change Password" %}{% endif %}</h1>

            {% if token_fail %}
            {% url 'account_reset_password' as passwd_reset_url %}
            <p>{% blocktrans %}The password reset link was invalid, possibly because it has already been used.  Please request a <a href="{{ passwd_reset_url }}">new password reset</a>.{% endblocktrans %}</p>
            {% else %}
            {% if form %}
            <form class="form-horizontal" method="POST" action=".">
                {% csrf_token %}
                {% for field in form %}
                {% if field.errors %}
                <div class="form-group has-error">
                    <label class="col-sm-3 control-label" for="id_{{ field.name }}">{{ field.label }}</label>
                    <div class="col-sm-9">
                      {{ field|attr:"class:form-control" }}
                      <span class="help-block">
                        {% for error in  field.errors %}{{ error }}{% endfor %}
                    </span>
                </div>
            </div>

            {% else %}

            <div class="form-group">

                <label class="col-sm-3 control-label" for="id_{{ field.name }}">{{ field.label }}</label>
                <div class="col-sm-9">
                  {{ field|attr:"class:form-control" }}
                  {% if field.help_text %}
                  <p class="help-block"><small>{{ field.help_text }}</small></p>
                  {% endif %}
                </div>
          </div>
          {% endif %}
          {% endfor %}
          <div class="row margin-top-20">
            <div class="col-md-12">
                <input type="submit" class="btn btn-primary btn-long pull-right" name="action" value="{% trans "change password" %}"/>
            </div>
          </div>
      </form>
      {% else %}
      <p>{% trans 'Your password is now changed.' %}</p>
      {% endif %}
      {% endif %}
  </div>
</div>
</div>
{% endblock content %}
